/* Import da fonte principal do site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  background-color: #123;

  background-size: 100%;

  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #eee;

  overflow-x: hidden;
}

/* Classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#interface {
  background: linear-gradient(#ff0000bb, #0015ffaa);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

footer {
  width: 75%;
  height: 40px;

  padding: 2px 10px;
  margin: 0 auto 10px auto;

  color: #000;
  font-size: 9pt;
  font-weight: 300;

  background-color: #fff;

  border-radius: 40px;
}

/* HEADER */
header {
  background-color: #000000aa;
  min-height: 20vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px 5px 30px 5px;

  border-radius: 0 0 120px 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foto {
  position: relative;
  border: 5px solid #fff;

  width: 150px;
  height: 150px;
  
  border-radius: 50%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
} .foto img {
  width: 93%;
  height: 93%;
  border-radius: 50%;

  transition: 0.15s all ease-in-out;
}.foto:hover{
  border: 10px solid white;
}

.foto::before {
  content: 'BitOne';
  position: absolute;
  right: -40px;

  background-color: black;

  border: 6px solid #fff;
  border-radius: 50%;

  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nomes {
  margin: 0 0 0 12px;
}

.nome {
  font-size: 28pt;
}

.empresa-ficticia {
  font-size: 18pt;
  letter-spacing: 2px;
}
.cargo {
  font-size: 10pt;
}

/* Social buttons */

.social {
  position: relative;
  background-color: #00000090;

  margin: 10px 0;
  padding: 10px 0;

  width: 90%;

  border-radius: 0 60px 60px 0;

  justify-content: space-evenly;
}

.social h1 {
  font-weight: 600;
  letter-spacing: 6px;
  font-size: 18pt;
}

.social_button {
  width: 60px;
  height: 60px;

  background-color: #000;

  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}.social_button:hover{
  border: 3px solid white;
  padding: 1px;
}

.social_button img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Sobre */

.sobre {
  position: relative;
  background-color: #00000090;

  padding: 10px 5px;
  width: 90%;

  border-radius: 10px 0 0 10px;

  justify-content: space-evenly;
  align-self: flex-end;
}
 
.projetos {
  flex-direction: column;
  position: relative;
  background-color: #00000090;

  padding: 5px 10px 30px 10px;
  margin: 10px 0;
  width: 86%;
  min-height: 400px;

  align-self: center;

  border-radius: 30px 0 30px 0;
  border-left: 8px solid white;
  border-right: 8px solid white;
} .projetos h1 {
  margin: 10px 0 25px 0;
}

.projeto {
  position: relative;
  align-self: center;
  width: 240px;
  height: 506px;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: white;
}

/* Slider */

.visualizador-projetos {
  position: relative;
  max-width: 800px;
  z-index: 2;

  border-radius: 25px;
  box-shadow: 0 0 50px 15px #ffffff55;
}

#counter {
  background-color: #eee;
  color: #000;

  padding:0 10px;

  border-radius: 75px;
  margin: 20px 0 0 0;
}.visualizador-projetos::after {
  content: '';
  position: absolute;
  left: 90px;
  bottom: 1px;

  width: 200px;
  height: 466px;
  padding: 8px 12px;

  border-radius: 20px;

  background-color: #ffff7555;
  z-index: -1;
}.visualizador-projetos::before {
  content: '';
  position: absolute;
  right: 90px;
  bottom: 1px;

  width: 200px;
  height: 466px;
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #ffff7560;
}

.control-buttons {
  z-index: 5;
  position: absolute;
  justify-content: space-between;

  width: 75%;
  height: 50px;
} .control-buttons button {
  width: 35px;
  height: 35px;

  background-color: #000;

  color: #fff;
  font-weight: 100;
  font-size: 14pt;

  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.125s ease-in-out;

}.social_button:hover{
  border: 3px solid white;
  padding: 1px;
}